.midHeader{
    position: relative;
    min-height: 375px;
}

.midHeader::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("https://lh3.googleusercontent.com/p/AF1QipP9D06xtt7nFHnI7IQ8XyVUC_60L8Cz_7OGgiZA=s1360-w1360-h1020") no-repeat center center/cover;
    filter: brightness(0.4);
}