:root {
    --base_color: #888888;
    --secondary_color: #ffffff00;
}

.dotted {
    content: "";
    position: absolute;
    z-index: 1;
    left: 2.1rem;
    margin-top: 3.1rem;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, #ffffff00, #ffffff00, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #888888, #ffffff00, #88888800, #ffffff00, #ffffff00);
    border-image-slice: 1;
    background-color: transparent;
    height: 238px;
}