.container{
    margin-top: 6%;
}
.connectivity{
    position: absolute;
    z-index: 10;
}
.cnt-head{
    font-size: 20px;
    line-height: 1.3;
    margin: 3%;
}
.cnt-body{
    margin: 2.2%;
}
.icon{
    width: 30px;
}
.c-item{
    display: flex;
    margin: 1.3rem 0.6rem;
    position: relative;
    z-index: 100;
}
.c-icon{
    margin: 0.9rem 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.c-text{
    margin: 0.8rem 1.1rem;
}
.m1{
    margin: 1.2rem;
}
/* .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.dotted{
    content:"";
    position: absolute;
    z-index: 1;
    left: 10%;
    margin-top: 2%;
    border-left: 2px dotted #444;
    height: 240px;
}
