
.labels{
    position: relative;
    top:5%;
    margin: 5% 0;
}
.chart{
    display: flex;
    justify-content: center;
    
}
.label{
    display: flex;
    flex-direction: row;
    margin: 5% 0;
}
.label-left{
    display: flex;
    align-items: center;
    width: 80%;
}
.label-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 0%;
}
.label-text{
    margin :0 7%;
    font-size: 12px;
}

.label-right{
    font-size: 12px;
    width: 20%;
}

.mt2{
    margin-top: 20px;
}

.mt4{
    margin-top: 40px;
}

.l-spl{
    width: 70% !important;
}
.r-spl{
    width: 30% !important;
}
.bold{
    font-weight: 500;
}

#pie-labels-0, #pie-labels-1, #pie-labels-2, #pie-labels-3, #pie-labels-4, #pie-labels-5{
    visibility: hidden;
}