.hamburger {
    position: relative;
    display: block;
    width: 34px;
    cursor: pointer;
    height: 34px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 90%;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active, .hamburger:before{
    transform: rotate(-45deg) translate(-9px 6px);
}