@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fcfcfc;
}

::-webkit-scrollbar{
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track{
    background-color: #fcfcfc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    display: none;
    border: 1px solid transparent;
    background-color: #dadada7c;
    border-radius: 10px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    display: inline;
    border: 1px solid transparent;
    background-color: #dadada7c;
    border-radius: 10px;
    background-clip: content-box;
    transition: all;
    transition-duration: 500ms;
}

.horizontal-scroll::-webkit-scrollbar-thumb{
    background-color: #ffffff;
} */
/* 
@media only screen and (max-width:768px) {
    ::-webkit-scrollbar{
        width: 8px;
        height: 0px;
    }
} */

/* input[type='radio']:after {
    opacity: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    bottom:-1px;

    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
   
    bottom:-1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffa500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* opacity: 0; */
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ant-table td {
    font-size: 13px;
    padding: 10px;
  }

  .ant-table-thead th {
    font-size: 14px;
    padding: 10px;
  }

